Options -MultiViews
RewriteEngine On
RewriteBase /research/

# If the requested resource exists as a file or directory, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Otherwise, serve index.html (for client-side routing)
RewriteRule ^ index.html [L]
